
@using System.Globalization
@using Adaro.Centralize.Web.Areas.AppAreaName.Models.Common.Modals
@using Adaro.Centralize.Web.Areas.AppAreaName.Models.Airports
@model CreateOrEditAirportModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAirport")) : L("CreateNewAirport")))

<div class="modal-body">
    <div id="AirportInformationsTab">
        <form name="AirportInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.Airport.Id" />
            }

            <div class="my-3">
                <label class="form-label" for="Airport_AirportName">@L("AirportName")</label>
                <input class="form-control" id="Airport_AirportName" value="@Model.Airport.AirportName" type="text" name="airportName" required maxlength="@Adaro.Centralize.Travel.AirportConsts.MaxAirportNameLength" minlength="@Adaro.Centralize.Travel.AirportConsts.MinAirportNameLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="Airport_IATA">@L("IATA")</label>
                <input class="form-control" id="Airport_IATA" value="@Model.Airport.IATA" type="text" name="iata" required maxlength="@Adaro.Centralize.Travel.AirportConsts.MaxIATALength" minlength="@Adaro.Centralize.Travel.AirportConsts.MinIATALength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="Airport_City">@L("City")</label>
                <input class="form-control" id="Airport_City" value="@Model.Airport.City" type="text" name="city" maxlength="@Adaro.Centralize.Travel.AirportConsts.MaxCityLength" minlength="@Adaro.Centralize.Travel.AirportConsts.MinCityLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="Airport_Category">@L("Category")</label>
                <input class="form-control" id="Airport_Category" value="@Model.Airport.Category" type="text" name="category" maxlength="@Adaro.Centralize.Travel.AirportConsts.MaxCategoryLength" minlength="@Adaro.Centralize.Travel.AirportConsts.MinCategoryLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")