@using Adaro.Centralize.Authorization
@using Adaro.Centralize.Web.Areas.AppAreaName.Models.MaterialRequests
@using Adaro.Centralize.Web.Areas.AppAreaName.Startup
@using Adaro.Centralize.Web.Areas.AppAreaName.Models.Common.Modals
@model MaterialRequestUNSPSCLookupTableViewModel

@section Scripts
{
<script abp-src="/view-resources/Areas/AppAreaName/Views/MaterialRequests/_MaterialRequestUNSPSCLookupTableModal.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("PickUNSPSC")))

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="UNSPSCTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetUNSPSCButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="UNSPSCTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("DisplayProperty")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml")