@using Adaro.Centralize.Authorization
@using Adaro.Centralize.Web.Areas.AppAreaName.Models.EnumTables
@using Adaro.Centralize.Web.Areas.AppAreaName.Startup
@model EnumTablesViewModel
@{
ViewBag.CurrentPageName = AppAreaNamePageNames.Common.EnumTables;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/AppAreaName/Views/EnumTables/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("EnumTables")' description='@L("EnumTablesHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_EnumTables_Create))
    {
    <button id="CreateNewEnumTableButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEnumTable")</button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="EnumTablesTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetEnumTablesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="EnumCodeFilterId">@L("EnumCode")</label>
                        <input type="text" class="form-control reload-on-keyup" name="enumCodeFilter" id="EnumCodeFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="EnumValueFilterId">@L("EnumValue")</label>
                        <input type="text" class="form-control reload-on-keyup" name="enumValueFilter" id="EnumValueFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="EnumLabelFilterId">@L("EnumLabel")</label>
                        <input type="text" class="form-control reload-on-keyup" name="enumLabelFilter" id="EnumLabelFilterId">
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="EnumTablesTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("EnumCode")</th>
                            <th>@L("EnumValue")</th>
                            <th>@L("EnumLabel")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>