@using Adaro.Centralize.Authorization
@using Adaro.Centralize.Web.Areas.AppAreaName.Models.TravelRequests
@using Adaro.Centralize.Web.Areas.AppAreaName.Startup
@model TravelRequestsViewModel
@{
ViewBag.CurrentPageName = AppAreaNamePageNames.Common.TravelRequests;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/AppAreaName/Views/TravelRequests/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("TravelRequests")' description='@L("TravelRequestsHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_TravelRequests_Create))
    {
    <a id="CreateNewTravelRequestButton" href="\AppAreaName\TravelRequests\CreateOrEdit" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTravelRequest")</a>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="TravelRequestsTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetTravelRequestsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="RequestNoFilterId">@L("RequestNo")</label>
                        <input type="text" class="form-control reload-on-keyup" name="requestNoFilter" id="RequestNoFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="TravelStatusFilterId">@L("TravelStatus")</label>
                        <select class="form-select reload-on-change" name="TravelStatusFilter" id="TravelStatusFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("Enum_TravelStatus_0")</option>

                            <option value="1">@L("Enum_TravelStatus_1")</option>

                            <option value="2">@L("Enum_TravelStatus_2")</option>

                            <option value="3">@L("Enum_TravelStatus_3")</option>

                            <option value="4">@L("Enum_TravelStatus_4")</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="TravelTypeFilterId">@L("TravelType")</label>
                        <select class="form-select reload-on-change" name="TravelTypeFilter" id="TravelTypeFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("Enum_TravelType_0")</option>

                            <option value="1">@L("Enum_TravelType_1")</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="MinRequestDateFilterId">@L("RequestDateRange")</label>
                        <div class="input-group">
                            <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinRequestDateFilterId">
                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                            <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxRequestDateFilterId">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="MinRequestPlanDateFilterId">@L("RequestPlanDateRange")</label>
                        <div class="input-group">
                            <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinRequestPlanDateFilterId">
                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                            <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxRequestPlanDateFilterId">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="CampFilterId">@L("Camp")</label>
                        <input type="text" class="form-control reload-on-keyup" name="campFilter" id="CampFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="TransportBusFilterId">@L("TransportBus")</label>
                        <input type="text" class="form-control reload-on-keyup" name="transportBusFilter" id="TransportBusFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="MinCreatedDateFilterId">@L("CreatedDateRange")</label>
                        <div class="input-group">
                            <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinCreatedDateFilterId">
                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                            <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxCreatedDateFilterId">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="UserNameFilterId">(@L("User")) @L("Name")</label>
                        <input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="AirportDisplayPropertyFilterId">(@L("Airport")) @L("DisplayProperty")</label>
                        <input type="text" class="form-control" name="airportDisplayPropertyFilter" id="AirportDisplayPropertyFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="AirportDisplayProperty2FilterId">(@L("Airport")) @L("DisplayProperty")</label>
                        <input type="text" class="form-control" name="airportDisplayProperty2Filter" id="AirportDisplayProperty2FilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="UserName2FilterId">(@L("User")) @L("Name")</label>
                        <input type="text" class="form-control" name="userName2Filter" id="UserName2FilterId">
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="TravelRequestsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("RequestNo")</th>
                            <th>@L("TravelStatus")</th>
                            <th>@L("TravelType")</th>
                            <th>@L("RequestDate")</th>
                            <th>@L("Camp")</th>
                            <th>@L("TransportBus")</th>
                            <th>@L("UserName")</th>
                            <th>@L("AirportDisplayProperty")</th>
                            <th>@L("AirportDisplayProperty")</th>
                            <th>@L("UserName")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>