@using Adaro.Centralize.Authorization
@using Adaro.Centralize.Web.Areas.AppAreaName.Models.UNSPSCs
@using Adaro.Centralize.Web.Areas.AppAreaName.Startup
@model UNSPSCsViewModel
@{
ViewBag.CurrentPageName = AppAreaNamePageNames.Common.UNSPSCs;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/AppAreaName/Views/UNSPSCs/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("UNSPSCs")' description='@L("UNSPSCsHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_UNSPSCs_Create))
    {
    <button id="CreateNewUNSPSCButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewUNSPSC")</button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="UNSPSCsTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetUNSPSCsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="UNSPSC_CodeFilterId">@L("UNSPSC_Code")</label>
                        <input type="text" class="form-control reload-on-keyup" name="unspsC_CodeFilter" id="UNSPSC_CodeFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="DescriptionFilterId">@L("Description")</label>
                        <input type="text" class="form-control reload-on-keyup" name="descriptionFilter" id="DescriptionFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="AccountCodeFilterId">@L("AccountCode")</label>
                        <input type="text" class="form-control reload-on-keyup" name="accountCodeFilter" id="AccountCodeFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="DescriptionIdFilterId">@L("DescriptionId")</label>
                        <input type="text" class="form-control reload-on-keyup" name="descriptionIdFilter" id="DescriptionIdFilterId">
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="UNSPSCsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("UNSPSC_Code")</th>
                            <th>@L("Description")</th>
                            <th>@L("AccountCode")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>